<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277388329383-v7vtfjniask8sqr01nc6qcdmvdcoq5od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277388329383-v7vtfjniask8sqr01nc6qcdmvdcoq5od</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277388329383-binrc6tkl651gh72kvsijbab5qjbf73m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkdkuwkDshWBd91BWu7cl_4QDOKhubxig</string>
	<key>GCM_SENDER_ID</key>
	<string>277388329383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.parkvip.app.dev</string>
	<key>PROJECT_ID</key>
	<string>parkvip-e7775</string>
	<key>STORAGE_BUCKET</key>
	<string>parkvip-e7775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277388329383:ios:291610da08867cd2517682</string>
</dict>
</plist>